extends layout

block content
  h1 #{title}  
  form(method='POST', action='/users/login')
    .ui.equal.width.form
      .fields
        .field
          label Username
          input(name='username', type='text', placeholder='Username')
        .field
          label Password
          input(name='password' type='password', placeholder='Password')
    input.ui.submit.button(name='Submit' type='submit' value='Login')
