extends layout

block content
  h2 #{title}
  p I will now create a simple database with a table named <b>User</b>. In order to create the database, go to the Application Management tab and launch the database manager.
  p
    img.aligncenter.size-full.wp-image-32298.img-responsive(src='http://www.cloudways.com/blog/wp-content/uploads/Launch-Database-1024x503-1.png', alt='', width='1024', height='503', srcset='https://www.cloudways.com/blog/wp-content/uploads/Launch-Database-1024x503-1.png 1024w, https://www.cloudways.com/blog/wp-content/uploads/Launch-Database-1024x503-1-300x147.png 300w, https://www.cloudways.com/blog/wp-content/uploads/Launch-Database-1024x503-1-768x377.png 768w', sizes='(max-width: 1024px) 100vw, 1024px')
  p Type in the following command in the SQL command field:
  p
    img.aligncenter.size-full.wp-image-32292.img-responsive(src='http://www.cloudways.com/blog/wp-content/uploads/db-1.png', alt='', width='1024', height='503', srcset='https://www.cloudways.com/blog/wp-content/uploads/db-1.png 1024w, https://www.cloudways.com/blog/wp-content/uploads/db-1-300x114.png 300w, https://www.cloudways.com/blog/wp-content/uploads/db-1-768x292.png 300w, https://www.cloudways.com/blog/wp-content/uploads/db-1-1024x389.png 768w', sizes='(max-width: 1024px) 100vw, 1024px')


    


  
